.nomeMembro {
    font-family: 'Open Sans';
    margin-top: 200px;
    margin-left: 40px;
}


.classificacaoMembro {
    font-family: arial;
    font-weight: bolder;    
    font-size: 40%;
    color: #2a3e85;
    margin-top: 5px;
    margin-left: 60px;
    margin-bottom: 20px;
}

.img-center {
	margin: 0 auto;
}


.pontuacaoTexto {
    font-family: 'Open Sans'; 
}

/* ============================================================
  GLOBAL
============================================================ */

.effects .img {
  position: relative;
  float: left;
  overflow: hidden;
  margin-left: 40px;
  border:2px solid #2a3e85;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;  
  
}

.overlay {
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: relative;
  z-index: 100;
  text-align: center;
  color: whitesmoke;
  line-height: 50px;
  font-weight: 700;
  font-size: 25px;
  border-radius: 30px;
  margin-top: -20px;
}

/* ============================================================
  EFFECT 1 - SLIDE IN BOTTOM
============================================================ */
#effect-1 .overlay {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#effect-1 .overlay a.expand {
  left: 0;
  right: 0;
  top: 50%;
}
#effect-1 .img.hover .overlay {
  height: 100%;
}
