.memberName {
    font-family: 'Raleway', sans-serif;
    margin-top: 210px;
    margin-left: 60px;
}

#insideWidow.memberName {
    margin-top: 0;
    margin-left: 0; 
}

.memberClassification {
    font-family: Helvetica;
    font-weight: bold;    
    font-size: 40%;
    color: #266fb7;
    margin-top: 2px;
    margin-bottom: 20px;
}

#insideWidow.memberClassification {
    margin-right: 50px;
}

.memberIcon {
    width: 100%;
    height: auto;
}

.pointsText {
    font-family: 'Raleway', sans-serif;
}
/* ============================================================
  GLOBAL
============================================================ */

.effects .img-memberIcon {
  position: relative;
  float: left;
  overflow: hidden;
  margin-left: 40px;
  border: 3px solid #2a3e85;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;  
  
}

.overlay {
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background-color: #000;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: relative;
  z-index: 100;
  text-align: center;
  color: whitesmoke;
  font-weight: 700;
  font-size: 25px;
  border-radius: 30px;
  margin-top: -20px;
}

/* ============================================================
  EFFECT 1 - SLIDE IN BOTTOM
============================================================ */
#effect-1 .overlay {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  text-decoration: none;  
}
#effect-1 .overlay a.expand {
  left: 0;
  right: 0;
  top: 50%;
  text-decoration: none;  
}
#effect-1 .img-memberIcon.hover .overlay {
  height: 100%;
  text-decoration: none;  
}

.img-memberWindow {
  border: 2px solid #333333; 
  float:left;

}

.window{
    position:absolute;
    width: 1000px;
    background:#FFF;
    border-radius:10px; 
}

.text-Window {
    margin-left: 90px;
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    font-weight: 100;
    font-size: 100%;
}

.historicTitle {
    font-family: 'Raleway', sans-serif;  
    font-weight: 800;
    font-size: 50px;
}

#insideWindow.pointsText {
  font-family: 'Raleway', serif;
  font-weight: 800;
  font-size: 30px;
  margin-left: 40px;
  color: #333333;  
}

hr {
  size: 1000px;
}

.numberPunition {
  color: #2b3e84;
  font-weight: bold;
}

.topicPunition {
  font-weight: bold;
}