.memberName {
    font-family: 'Raleway', sans-serif;
    margin-top: 210px;
    margin-left: 60px;
}

.scrollup_fade:hover {opacity:0.8;}

#insideWidow.memberName {
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.memberClassification {
    font-family: Helvetica;
    font-weight: bold;    
    font-size: 40%;
    color: #266fb7;
    margin-top: 2px;
}

.img-companyLogo {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0px;
    margin-right: 100px;
}

.memberIcon {
    width: 100%;
    height: auto;
}

.pointsText {
    font-family: 'Raleway', sans-serif;
    color: #266fb7;
}


.img-memberWindow {
  position: relative;
  border: 2px solid #333333; 
  float: left;
  margin-bottom: 100%;
}

.text-Window {
font-family: 'Roboto', sans-serif;
    font-weight: 40;
    font-size: 100%;
    color: black;
}


.historicTitle {
    font-family: 'Raleway', sans-serif;  
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
}

#insideWindow.pointsText {
  font-family: 'Raleway', serif;
  font-weight: 800;
  font-size: 30px;
  margin-left: 40px;
  color: #333333;  
}

.numberPunition {
  color: #2b3e84;
  font-weight: bolder;
}

.topicPunition {
  font-weight: 80;
}

.responsiblePunition {
  font-family: 'Raleway', serif;
  font-weight: bolder;
}

/* Slide on icon */

.effects .img-memberIcon {
  position: relative;
  float: left;
  overflow: hidden;
  margin-left: 40px;
  border: 3px solid #2a3e85;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;  
  
}

.overlay {
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background-color: #000;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: relative;
  z-index: 100;
  text-align: center;
  color: whitesmoke;
  font-weight: 700;
  font-size: 25px;
  border-radius: 30px;
  margin-top: -20px;
}

#effect-1 .overlay {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  text-decoration: none;  
}
#effect-1 .overlay a.expand {
  left: 0;
  right: 0;
  top: 50%;
  text-decoration: none;  
}
#effect-1 .img-memberIcon.hover .overlay {
  height: 100%;
  text-decoration: none;  
}
/* End slide on icon */

